@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pathway Gothic One', sans-serif;
}

body{
    width: 100%;
    background-image: url('../bg_images/all-bg-2.jpg');
}

/*Header Start*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 80px;
    background: #1A1A1A;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

.shop-name{
    text-decoration: none;
    font-style: italic;
    font-size: 20px;
    font-weight: 500;
    color: #FAFAFA;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

.navbar li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #FAFAFA;
    transform: 0.3s ease;
}

.navbar li a:hover,
.navbar li a.active{
    color: #FAFAFA;
}

.navbar li a.active::after,
.navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: #ce1a2b;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* Top of sParts*/
.parts-title{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 90%;
    border: 2px solid #1A1A1A;
    background-color: #FAFAFA;
    opacity: 0.9;
    padding: 15px 0;
}

.parts-title h1{
    font-size: 35px;
    text-transform: uppercase;
}

.parts-title span{
    color: #ce1a2b;
}

.mp-bike{
    margin: 20px auto;
}

.mp-bike h1{
    font-size: 28px; 
    color: #000000;
    text-align: center;
}

.mp-box-container{
    padding: 0;
    width: 90%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 0px;
}

.mp-box{
    flex-basis: 20%;
    min-width: 250px;
    margin-right: 14px;
    margin-top: 0px;
    padding: 20px 10px;
    border-radius: 15px;
    background-color: #000000;
    transition: 1s;
}
 
.mp-box:hover{
    transform: scale(1.1);
    z-index: 2;
}
 
.mp-box img{
    width: 100%;
    height: 70%;
    object-fit: fill;
}
  
.mp-box .text-box{
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    color: #FAFAFA;
}
 
.mp-box .text-box h3{
    font-size: 20px;
    margin: 5px 3px;
}
 
.mp-box .text-box h4{
    font-size: 18px;
    margin: 5px 3px;
    font-weight: 100;
}
 
.mp-box .text-box p{
    font-size: 20px;
    color: #ce1a2b;
}
 
.mp-box .text-box h3:hover{
    color: #ce1a2b;
}

/* Bike Starts*/
.bike-section{
    margin: 40px 90px;
    margin-bottom: 10px;
    font-size: 24px;
}

.bike-section h1:after{
    content: "";
    display: block;
    width: 75%;
    height: 4px;
    background: #000000;
    position: absolute;
    left: 170px;
    top: 112%;
}

.vertical-menu {
    width: 200px;
    margin: 20px 50px;
    margin-left: 90px;
}
  
.vertical-menu h2{
    background-color: #484848;
    color: #FAFAFA;
    display: block;
    padding: 12px;
    text-decoration: none;
    margin: 10px 0;
    text-align: center;
    font-size: 20px;
}

.vertical-menu a {
    background-color: #000000;
    color: #FAFAFA;
    display: block;
    padding: 12px;
    text-decoration: none;
    margin: 10px 0;
    text-align: center;
    font-size: 20px;
}
  
.vertical-menu a:hover {
    background-color: #484848;
    color: #FAFAFA;
}
  
.vertical-menu a.active {
    background-color: #ce1a2b;
    color: #FAFAFA;
}

.bike-sec{
    display: flex;
}

.bike-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 20px;
    margin-left: 0px;
}

.bike-box{
    flex-basis: 15%;
    min-width: 250px;
    margin-right: 12px;
    margin-top: 0px;
    padding: 20px 10px;
    border-radius: 15px;
    background-color: #000000;
    box-shadow: 2px 3px 4px #484848;
    transition: 1s;
}

.bike-box:hover{
    transform: scale(1.1);
    z-index: 2;
}

.bike-box img{
    width: 100%;
    height: 70%;
    object-fit: fill;
}
 
.bike-box .text-box{
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    color: #FAFAFA;
}

.bike-box .text-box h3{
    font-size: 20px;
    margin: 5px 3px;
}

.bike-box .text-box h4{
    font-size: 18px;
    margin: 5px 3px;
    font-weight: 100;
}

.bike-box .text-box p{
    font-size: 20px;
    color: #ce1a2b;
}

.bike-box .text-box h3:hover{
    color: #ce1a2b;
}

/* Back to Top Button */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    color: #ce1a2b;
    cursor: pointer;
    padding: 15px;
    font-weight: 500;
    background-color: transparent;
  }
  
#myBtn:hover {
    border: 1px solid #000000;
}

/* Footer Starts */
.container{
    max-width: 1100px;
    margin: auto;
}

.container h3{
    font-size: 28px;
    font-weight: 400;
    font-style: italic;
    color: #FAFAFA;
    text-transform: capitalize;
    margin-bottom: 20px;
    position: relative;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

.footer{
    background-color: #1A1A1A;
    padding: 25px 0px;
    margin-top: 4rem;
}

.footer-col{
    width: 33.33%;
    padding: 0 90px;
    line-height: 1.5;
}

.footer-col h4{
    font-size: 20px;
    font-weight: 400;
    color: #FAFAFA;
    text-transform: capitalize;
    margin-bottom: 20px;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    background-color: #ce1a2b;
    height: 2px;
    box-sizing: border-box;
    width: 30px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 8px;
}

.footer-col ul li a{
    font-size:  18px;
    text-transform: capitalize;
    color: #FAFAFA;
    text-decoration: none;
    font-weight: 300;
    color: #484848;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #FAFAFA;
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(225, 225, 225, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #484848;
    color: #FAFAFA;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #FAFAFA;
    background-color: #ce1a2b;
}

.copyright{
    color: #FAFAFA;
    margin-top: 20px;
    font-weight: 300;
}