@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pathway Gothic One', sans-serif;
}

.section-p1{
    padding: 60px 80px;
}

.section-m1{
    margin: 55px 0;
}

body{
    width: 100%;
    background-color: #000000;
    
}

/*Header Start*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 80px;
    background: #1A1A1A;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position:sticky;
    top: 0;
    left: 0;
}

.shop-name{
    text-decoration: none;
    font-style: italic;
    font-size: 20px;
    font-weight: 500;
    color: #FAFAFA;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

.navbar li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #FAFAFA;
    transform: 0.3s ease;
}

.navbar li a:hover,
.navbar li a.active{
    color: #FAFAFA;
}

.navbar li a.active::after,
.navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: #ce1a2b;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* Showcase Section */
.showcase{
    position: center;
    width: 100%;
    min-height: 67vh;
    padding: 100px;
    display: flex;
    color: #FAFAFA;
    z-index: -2;
}

.showcase video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 78vh;
    object-fit: cover;
    opacity: 0.9;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    background: #484848;
    mix-blend-mode: overlay;
}

.text{
    position: absolute;
    right: 425px;
    top: 170px;
    width: 400px;
    margin: auto;
    border: 0;
    padding: 10px;
    text-align: center;
}

.text h2{
    font-size: 4em;
    font-weight: 800;
    line-height: 1em;
}

.text h3{
    font-size: 3em;
    font-weight: 700;
    line-height: 1em;
}

.text a{
    display: inline-block;
    font-size: 1em;
    padding: 9px 15px;
    background: #ce1a2b;
    text-decoration: none;
    color: #FAFAFA;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    transition: 0.2s;
}

.text a:hover{
    letter-spacing: 6px;
}

/* Products Starts */
.avail-prod{
    padding: 20px 150px;
    background-image: url('bg_images/all-bg-2.jpg');
    
}

.avail-prod .avail-prod-head{
    font-size: 30px;
    word-spacing: 3px;
    letter-spacing: 2px;
    text-align: center;
    color: #000000;
}

.box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 10px 25px;
    margin-left: 50px;
}

.box{
   flex-basis: 30%;
   min-width: 250px;
   margin-top: 20px;
   padding: 20px 10px;
   border-radius: 15px;
   background-color: #000000;
   transition: 1s;
   box-shadow: 2px 3px 4px #484848;
}

.box:hover{
    transform: scale(1.1);
    z-index: 2;
}

.box img{
    width: 100%;
    height: 70%;
    object-fit: fill;
}

.text-box{
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    color: #FAFAFA;
}

.text-box h3{
    font-size: 20px;
    margin: 5px 3px;
}

.text-box h4{
    font-size: 18px;
    margin: 5px 3px;
    font-weight: 100;
}

.text-box p{
    font-size: 20px;
    color: #ce1a2b;
}

.text-box h3:hover{
    color: #ce1a2b;
}

/* Accessories Starts */
.banner {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("bg_images/hp-accessories2.jpg");
    width: 100%;
    height: 45vh;
    background-size: cover;
    background-position: center;
    color: #FAFAFA;
    
}

.banner h3{
    font-size: 20px;
    margin-bottom: 42px;
    letter-spacing: 1px;
    text-decoration-thickness: 3px;
}

.banner h2{
    font-size: 45px;
    margin-bottom: 25px;
    word-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 3px  4px 0px  #ce1a2b;
}

.banner a{
    display: inline-block;
    padding: 4px 6px;
    background: #FAFAFA;
    font-weight: 900;
    text-decoration: none;
    color: #ce1a2b;
    margin-bottom: 25px;
    font-size: 20px;
    transition: 0.2s;
}

.banner:hover a{
    letter-spacing: 4px;
}

/* Bike Services */
.services{
    display: flex;
    flex-wrap: wrap;
}

.service-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("bg_images/bg4.jpg");
    min-width: 50%;
    height: 70vh;
    background-size: cover;
    background-position: center;
    padding: 50px;
}

.service-box img{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 55%;
    height: 55vh;
    opacity: 0.8;
}

.service-box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("bg_images/bg5.jpg");
    min-width: 50%;
    height: 70vh;
    background-size: cover;
    background-position: center;
    padding: 55px;
    transition: all 0.6s ease;
}

.service-box2 a:hover{
    letter-spacing: 1px;
}

.service-box2 h3 {
    color: #FAFAFA;
    font-size: 20px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    text-decoration-thickness: 3px;
}

.service-box2 h2{
    color: #FAFAFA;
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 15px;
    width: 40vw;
    word-spacing: 2px;
    text-shadow: 3px 5px 0 #000000;
}

.service-box2 a{
    text-decoration: none;
    background-color: #FAFAFA;
    padding: 4px 6px;
    color: #ce1a2b;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 32px;
}

/* About Us Starts */
.about{
    background-color: #000000;
    height: 50vh;
    padding: 50px 100px;
    color: #FAFAFA;
    text-align: center;
}

.about h1{
    font-size: 36px;
}

.about p{
    margin: 30px 130px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Back to top Starts*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    color: red;
    cursor: pointer;
    padding: 15px;
    font-weight: 300;
    background-color: transparent;
  }
  
#myBtn:hover {
    border: 1px solid #000000;
}


/* Footer Starts */
.container{
    max-width: 1100px;
    margin: auto;
}

.container h3{
    font-size: 28px;
    font-weight: 400;
    font-style: italic;
    color: #FAFAFA;
    text-transform: capitalize;
    margin-bottom: 20px;
    position: relative;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

.footer{
    background-color: #1A1A1A;
    padding: 25px 0px;
}

.footer-col{
    width: 33.33%;
    padding: 0 90px;
    line-height: 1.5;
}

.footer-col h4{
    font-size: 20px;
    font-weight: 400;
    color: #FAFAFA;
    text-transform: capitalize;
    margin-bottom: 20px;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    background-color: #ce1a2b;
    height: 2px;
    box-sizing: border-box;
    width: 30px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 8px;
}

.footer-col ul li a{
    font-size:  18px;
    text-transform: capitalize;
    color: #FAFAFA;
    text-decoration: none;
    font-weight: 300;
    color: #484848;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #FAFAFA;
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(225, 225, 225, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #484848;
    color: #FAFAFA;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #FAFAFA;
    background-color: #ce1a2b;
}

.copyright{
    color: #FAFAFA;
    margin-top: 20px;
    font-weight: 300;
}

@media (max-width: 991px) {
    .header, 
    .navbar,
    .navbar li,
    .navbar li a,
    .showcase,
    .showcase video, .overlay, .text, .text h2, .text h3, .text a, .avail-prod
    {
        padding: 20px;
    }

    .showcase video{
        width: auto;
    }

    .overlay{
        width: 100%;
        height: 76vh;
    }

    .text{
        position: absolute;
        right: 120px;
        bottom: 30px;
        width: 240px;
        margin: auto;
        border: 0;
        padding: 5px;
        text-align: center;
    }

    .text h2{
        font-size: 40px;
        font-weight: 100;
    }

    .text h3{
        font-size: 30px;
        font-weight: 100;
    }

    .text a{
        display: inline-block;
        font-size: 10px;
        padding: 5px 10px;
        background: #ce1a2b;
        text-decoration: none;
        color: #FAFAFA;
        margin-top: 10px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 14px;
        transition: 0.2s;
    }
    
    .text a:hover{
        letter-spacing: 5px;
    }
}