@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pathway Gothic One', sans-serif;
}

body{
    width: 100%;
    background-image: url('bg_images/all-bg-2.jpg');
}

/*Header Start*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 80px;
    background: #1A1A1A;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

.shop-name{
    text-decoration: none;
    font-style: italic;
    font-size: 20px;
    font-weight: 500;
    color: #FAFAFA;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

.navbar li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #FAFAFA;
    transform: 0.3s ease;
}

.navbar li a:hover,
.navbar li a.active{
    color: #FAFAFA;
}

.navbar li a.active::after,
.navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: #ce1a2b;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* First Table */
th, td{
    border: 1px solid #1A1A1A;
    background-color: #FAFAFA;
}

.table1{
    width: 80%;
    margin-left: auto; 
    margin-right: auto;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    word-spacing: 2px;
}

.table1 .row1 th{
    padding: 20px 0;
    font-size: 35px;
}

.table1 .row1 th span{
    color: #ce1a2b;
}

.table1 .row2 td{
    padding: 20px 20px;
    font-size: 20px;
    text-align: center;
    width: 80vw;
}

/* Services List Starts */
.sevice-list{
    width: 70%;
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: 30px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    text-align: center;

}

.sevice-list table{
    width: 40vw;
    margin: auto;
    border-collapse: collapse;
    background-color: #FAFAFA;
}

.sevice-list th{
    font-size: 22px;
    padding: 6px 10px;
}

.sevice-list span{
    color: #ce1a2b;
}

.sevice-list td {
    font-size: 20px;
    padding: 6px 10px;
}

/* Back to top Starts*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    color: red;
    cursor: pointer;
    padding: 15px;
    font-weight: 300;
    background-color: transparent;
  }
  
#myBtn:hover {
    border: 1px solid #000000;
}

/* Footer Starts */
.container{
    max-width: 1100px;
    margin: auto;
}

.container h3{
    font-size: 28px;
    font-weight: 400;
    font-style: italic;
    color: #FAFAFA;
    text-transform: capitalize;
    margin-bottom: 20px;
    position: relative;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

.footer{
    background-color: #1A1A1A;
    padding: 25px 0px;
}

.footer-col{
    width: 33.33%;
    padding: 0 90px;
    line-height: 1.5;
}

.footer-col h4{
    font-size: 20px;
    font-weight: 400;
    color: #FAFAFA;
    text-transform: capitalize;
    margin-bottom: 20px;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    background-color: #ce1a2b;
    height: 2px;
    box-sizing: border-box;
    width: 30px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 8px;
}

.footer-col ul li a{
    font-size:  18px;
    text-transform: capitalize;
    color: #FAFAFA;
    text-decoration: none;
    font-weight: 300;
    color: #484848;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #FAFAFA;
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(225, 225, 225, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #484848;
    color: #FAFAFA;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #FAFAFA;
    background-color: #ce1a2b;
}

.copyright{
    color: #FAFAFA;
    margin-top: 20px;
    font-weight: 300;
}