@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pathway Gothic One', sans-serif;
}

body{
    width: 100%;
    background-image: url('../../bg_images/all-bg-2.jpg');
}

/*Header Start*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 80px;
    background: #1A1A1A;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

.shop-name{
    text-decoration: none;
    font-style: italic;
    font-size: 20px;
    font-weight: 500;
    color: #FAFAFA;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

.navbar li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #FAFAFA;
    transform: 0.3s ease;
}

.navbar li a:hover,
.navbar li a.active{
    color: #FAFAFA;
}

.navbar li a.active::after,
.navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: #ce1a2b;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* Back Button */
.back-button{
    display: flex;
    width: 3.5rem;
    text-decoration: none;
    justify-content: center;
    color: #ce1a2b;
    font-size: 22px;
    padding: 4px 8px;
    border: 2px solid #ce1a2b;
    background-color: #FAFAFA;
    margin: 30px 90px;
    margin-bottom: 15px;
    transition: 0.2s;
}

.back-button a:hover{
    letter-spacing: 2px;
}

/*Product Details*/
.product{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    height: 80vh;
}

.product-img{
    display: flex;
    height: 70vh;
    margin-left: 13rem;
}

.product-img img{
    height: 80vh;
    width: 90vh;
    border: 2px solid;
    
}

.product-details{
    margin-top: 0;
    margin-left: 20px;
    word-spacing: 2px;
    background: #FAFAFA;
    padding: 10px;
}

.product-details h2{
    font-size: 30px;
    margin-bottom: 5px;
}

.product-details span{
    color: #ce1a2b;
    font-size: 24px;
    font-weight: 600;
}

.prod-spec{
    padding: 10px 0;
}

.prod-spec h3{
    font-size: 22px;
    margin-bottom: 0;
    padding-bottom: 0;
    font-weight: 600;
}

.prod-spec p{
    font-size: 18px;
    font-weight: 200;
    margin-top: 0;
    padding-top: 0;
}

/* Back to Top Button */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    color: #ce1a2b;
    cursor: pointer;
    padding: 15px;
    font-weight: 500;
    background-color: transparent;
  }
  
#myBtn:hover {
    border: 1px solid #000000;
}

/* Products Starts */
.avail-prod{
    padding: 20px 150px;
    margin-left: 40px;
    margin-top: 40px;
}

.avail-prod .avail-prod-head{
    font-size: 30px;
    word-spacing: 3px;
    letter-spacing: 2px;
    text-align: center;
    color: #1A1A1A;
}

.box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 10px 10px;
}

.box{
   flex-basis: 30%;
   min-width: 250px;
   margin-top: 20px;
   padding: 20px 10px;
   border-radius: 15px;
   background-color: #000000;
   box-shadow: 2px 3px 4px #484848;
   transition: 1s;
}

.box:hover{
    transform: scale(1.1);
    z-index: 2;
}

.box img{
    width: 100%;
    height: 70%;
    object-fit: fill;
}

.text-box{
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    color: #FAFAFA;
}

.text-box h3{
    font-size: 20px;
    margin: 5px 3px;
}

.text-box h4{
    font-size: 18px;
    margin: 5px 3px;
    font-weight: 100;
}


.text-box p{
    font-size: 20px;
    color: #ce1a2b;
}

.text-box h3:hover{
    color: #ce1a2b;
}

/* Footer Starts */
.container{
    max-width: 1100px;
    margin: auto;
}

.container h3{
    font-size: 28px;
    font-weight: 400;
    font-style: italic;
    color: #FAFAFA;
    text-transform: capitalize;
    margin-bottom: 20px;
    position: relative;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

.footer{
    background-color: #1A1A1A;
    padding: 25px 0px;
    margin-top: 4rem;
}

.footer-col{
    width: 33.33%;
    padding: 0 90px;
    line-height: 1.5;
}

.footer-col h4{
    font-size: 20px;
    font-weight: 400;
    color: #FAFAFA;
    text-transform: capitalize;
    margin-bottom: 20px;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    background-color: #ce1a2b;
    height: 2px;
    box-sizing: border-box;
    width: 30px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 8px;
}

.footer-col ul li a{
    font-size:  18px;
    text-transform: capitalize;
    color: #FAFAFA;
    text-decoration: none;
    font-weight: 300;
    color: #484848;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #FAFAFA;
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(225, 225, 225, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #484848;
    color: #FAFAFA;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #FAFAFA;
    background-color: #ce1a2b;
}

.copyright{
    color: #FAFAFA;
    margin-top: 20px;
    font-weight: 300;
}